html {
  font-family: 'Exo 2', sans-serif;
  font-size: 16px;
  color: $black;
}

h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0;
}

input {
  border-bottom: 1px solid #b8b8b8;
  border-top: 1px solid #b8b8b8;
  border-left: 1px solid #b8b8b8;
  border-right: 1px solid #b8b8b8;
  color: $black;
  &:focus {
    outline: none;
  }
  &::-moz-placeholder { color: #e3e4e5; }
  &::-webkit-input-placeholder { color: #e3e4e5; }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $black;
}

figure {
  margin: 0;
}

select {
  border: none;
  background: none;
  padding: 0 0 0 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 10px;
  -ms-appearance: none;
  outline: none;
  appearance: none!important;
}

button {
  background: none;
  border: none;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
